# Ignore everything
/*

# Keep backend directory
!/backend
# But ignore node_modules and env inside backend
/backend/node_modules
/backend/.env

# Keep render.yaml
!render.yaml

# Keep .gitignore
!.gitignore
